<h1><%= @store.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Items', store_items_path(@store) %>
<br />
<%= link_to 'Edit Store Name', edit_store_path(@store) %>
<br />
<%= link_to 'Delete Store Name', @store, method: :delete %>
<%# <%= link_to 'Create Item', new_store_item_path %>
<%# <br /> %>
<%# <ul> %>
  <%# <% @items.each do |item| %> %>
    <%# <li><%= link_to item.name, store %></li> %>
  <%# <% end %> %>
<%# j</ul> %> %>
